<div class="flex justify-between items-center px-24">


    <span class="text-blue-600 font-medium text-2xl">Embedded</span>
    <div>
        <ul class="flex gap-x-12 font-medium">
            <li><a href="/manage-staffs">Quản lý nhân viên</a></li>
            <li><a href="/manage-models">Quản lý model</a></li>
            <li><a href="/log-out">Đăng xuất</a></li>
        </ul>
    </div>
    <div class="flex justify-end items-center gap-x-4 py-4">
        <span>{{session['firstName'] + " " + session['lastName']}}</span>
        <div><img class="w-10 h-10" src="/static/image/user.png" alt=""></div>
    </div>
</div>
<hr>