<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage staffs</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
{% include 'header.html' %}
<div class="mx-24 mt-12">
<div class="flex justify-between items-center">
    <h3 class="text-lg font-medium">Quản lý nhân viên</h3>
    <a href="/manage-staffs/create" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Thêm nhân viên
    </a>
</div>
<div class="relative overflow-x-auto mt-12">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                 <th scope="col" class="px-6 py-3">
                    Avatar
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    First name
                </th>
                <th scope="col" class="px-6 py-3">
                    Last name
                </th>
                <th scope="col" class="px-6 py-3">
                    Gender
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone
                </th>
                 <th scope="col" class="px-6 py-3">
                    Đăng ký khuôn mặt
                </th>
                <th scope="col" class="px-6 py-3">
                    Quản lý dataset
                </th>
                 <th scope="col" class="px-6 py-3">
                    Hiệu chỉnh
                </th>
            </tr>
        </thead>
        <tbody>

            {% for staff in staffs %}
            <tr class="bg-white border-b">
             <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                 <img src="{{ staff.imageUrl }}" class="w-12 h-12 object-cover rounded-full" alt="">
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{ staff.email }}
                </th>
                <td class="px-6 py-4">
                    {{ staff.firstName }}
                </td>
                <td class="px-6 py-4">
                    {{ staff.lastName }}
                </td>
                <td class="px-6 py-4">
                    {{ staff.gender }}
                </td>
                <td class="px-6 py-4">
                    {{ staff.phone }}
                </td>

                <td class="px-6 py-4">
                    <a href="/register-face/{{ staff.id }}">
                        <img class="w-6" src="/static/image/register.png" alt="">
                    </a>
                </td>
                <td class="px-6 py-4">
                    <a href="/dataset/{{ staff.id }}">
                        <img src="/static/image/dataset.png" alt="">
                    </a>
                </td>
                <td class="px-6 py-4">
                    <a href="/edit/{{ staff.id }}">
                        <img src="/static/image/edit.png" alt="">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

</body>
</html>